@import "tailwindcss";

@theme {
  /* Base Palette */
  --color-main: #73431c;          /* Rich brown - primary */
  --color-Secondary: #;     /* Warm sand - secondary */
  --color-Background: #f8f2eb;    /* Soft beige - background */
  --color-Text: #3a2412;          /* Darker text for readability */

  /* UI Elements */
  --color-Aside: var(--color-Secondary);
  --color-Aside-Border: var(--color-main);

  /* Form Elements */
  --color-Input-Border: var(--color-main);
  --color-Input-Background: #fdfaf7;
  --color-Input-Text: var(--color-Text);

}
